// COLORS
@black: rgb(21,21,21);
@white: rgb(210,210,210);
@lightgray: rgb(168,168,168);
@gray: rgb(84,84,84);
@darkgray: rgb(42,42,42);
@red: rgb(168,42,42);
@orange: rgb(210,84,0);
@brown: rgb(168,84,84);
@yellow: rgb(252,210,126);
@green: rgb(84,168,42);
@cyan: rgb(42,126,126);
@blue: rgb(42,126,168);
@purple: rgb(126,84,168);
@lightred: rgb(210,84,84);
@lightgreen: rgb(168,210,126);
@lightblue: rgb(84,168,210);
@lightpurple: rgb(168,126,210);
@lightcyan: rgb(84,168,168);

// GUTTER
@gutter-text: @gray;
@gutter-text-highlight: @entity;
@gutter-background: @darkgray;
@gutter-background-highlight: rgb(10,10,10);

// CODE VIEW
@code-background: @black; // editor background
@code-font: Source Code Pro;
@code-font-color: @white; // default editor text

// SYNTAX COLORS
@comment: @gray; // comments, duhr.
@comment-bg: none; // comments, duhr.
@comment-punc: @comment;
@string: @green; // 'value' of var='value', "name.png" or src="name.png"
@constant: @red; // true of var x = true, {{}} of {{> hbs_include}}
@variable: @blue; // foo or function(foo), hbs_include of {{> hbs_include}}, http://dom.com/ of url(http://dom.com/)
@support: @purple; // module of module.exports, color of color: rgb(0,0,0)
@entity: @blue; // exports of module.exports, <div id= of <div id="#id">, . of .className
@keyword: @lightblue; // = of var a = b, if of if a = b, px of font-size: 13px;
@storage: @yellow; // var of var a = b;
@meta: @code-font-color; // none of border: none;
@function-param: @green;

@error: @red;

@regex: @string;

@numeric: @red;
@quotes: @code-font-color;

// @markup: @code-font-color;
@unknown: @code-font-color;

// MISC COLORS
@invisible: rgba(255,255,255,0.1);
@guides: rgba(245,250,255,0.04);
@cursor-color: @code-font-color;
@cursor-width: 2px;
@selected: rgba(84,168,210,0.6); // selected background color
@selected-border: rgba(84,168,210,0.9);
@selected-line: rgba(0,0,0,0.2);

// HTML
@tag: @green;
@tag-entity: @green;
@element-attr: @blue;
@class: @blue;
@id: @blue;
@block: @green;
@inline: lighten(@green, 25%);

@entity-function: @green;
@brackets: darken(@code-font-color, 30%);
@punctuation: darken(@code-font-color, 30%);

@search-bg: transparent;
@search-border: solid 1px @green;

@search-active-bg: @green;
@search-active-border: solid 1px @green;

@search-item-border: @green;
@search-item-bg: @red;
